extends layout

block content
  .row.banner
    .col-12
      h1(style="margin-top:100px")= title
  .row
    .col-12.col-lg-8
      p 
        hr
        | Zoggy was Created by AIML-C students to help you find the best restaurants in your area.
        br
        hr
        | Let us help you find the perfect spot for your next meal.
        br
        hr
        | We have a wide range of restaurants to choose from, so you're sure to find something you love.
        br
        hr
        | Whether you're looking for a quick bite to eat or a fancy dinner, Zoggy has you covered.
        hr
