doctype html
html
  head
    meta(name='viewport', content='width=device-width', initial-scale=1.0)

    title= title
  
    link(rel='stylesheet', href='/public/stylesheets')
    link(rel='stylesheet', href='/style.css')

  body
    .container
      // Move Zoggy title and tagline to the top
      h1 ZOGGY
      p THINDHAM TIRGUDHAM :-)

    // Navbar comes below the title and tagline
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') 
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
          
            li 
              a(href='/about/') <b> About </b>
            li 
              a(href='/signin') <b> SignIn </b>
            li 
              a(href='/review') <b> Add Review </b>
            li
              a(href='/') <b> Restaurants </b> 
    .container
      block content
      footer
        .row
          .col-xs-12
            small &copy; @AIML-C Zoggy Application 2023

  script(src='/javascripts/jquery-1.11.1.min.js')
  script(src='/javascripts/bootstrap.min.js')
